* {
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: auto;

}

header {
    background-image: url(./images/Hero-bg.png);
    height: 698px;
    max-width: 1440px;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    padding: 5px
}

.nav-logo {
    color: rgb(78, 71, 255);
    font-weight: 900px;
    font-size: 34px;
}

.btn-all {
    color: rgb(255, 255, 255);
    font-weight: 700px;
    font-size: 16px;
    background-color: rgb(78, 71, 255);
    border-radius: 10px;
    padding: 12px 36px;
    border: none;
}

/* banner style */
.banner-content {
    text-align: center;
    max-width: 937px;
    height: 237px;
    align-items: center;
    gap: 37px;
    margin: 158px 267px;
}

.banner-title {
    color: rgb(37, 36, 50);
    font-weight: 700px;
    font-size: 65px;

}

/* action-styli */

.action-content {
    background: rgb(245, 248, 255);
}

.action {
    padding: 30px;
    margin-left: 100px;
    max-width: 500px;
}


.action-section {
    margin-top: 112px;
    display: flex;
    justify-content: space-between;
    max-width: 1340px;
    align-items: center;

}

.action-section-image {
    width: 403px;
    height: 328px;
    border-radius: 48px;
    padding: 30px;


}

.action-section-title {
    font-weight: 700px;
    font-size: 42px;
    color: rgb(37, 36, 50);
}

.action-section-sub-title {
    font-weight: 400px;
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
}