* {
    box-sizing: border-box;
    max-width: 1500px;
    margin: auto;


}

.container {
    background: rgb(245, 248, 255);
    max-width: 1500px;
}

header {
    background-image: url(./images/Hero-bg.png);
    height: 698px;
    max-width: 1440px;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px
}

.nav-logo {
    color: rgb(78, 71, 255);
    font-weight: 900px;
    font-size: 34px;
}

.btn-all {
    color: rgb(255, 255, 255);
    font-weight: 700px;
    font-size: 16px;
    background-color: rgb(78, 71, 255);
    border-radius: 10px;
    padding: 12px 36px;
    border: none;
}

/* banner style */
.banner-content {
    text-align: center;
    max-width: 937px;
    height: 237px;
    align-items: center;
    gap: 37px;
    margin: 158px 267px;
}

.banner-title {
    color: rgb(37, 36, 50);
    font-weight: 700px;
    font-size: 65px;

}



.action {
    padding: 30px;
    margin-left: 100px;
    max-width: 500px;
}


.action-section {
    margin-top: 112px;
    display: flex;
    justify-content: space-between;
    max-width: 1340px;
    align-items: center;

}

.action-section-image {
    width: 403px;
    height: 328px;
    border-radius: 48px;
    padding: 30px;


}

.action-section-title {
    font-weight: 700px;
    font-size: 42px;
    color: rgb(37, 36, 50);
}

.action-section-sub-title {
    font-weight: 400px;
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
}


/* productive-users-section-style  */


.productive {
    margin-top: 150px;
    background-color: #e8ebff;
    border-radius: 20px;
    padding: 40px 60px;
    text-align: center;
    max-width: 1140px;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);


}

.productive-users-title {
    color: rgb(37, 36, 50);
    font-weight: 700px;
    font-size: 38px;
    text-align: center;
}

.productive-users {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.productive-users-items {
    margin: 10px 20px;
}

.productive-users-1 {
    font-weight: 600px;
    font-size: 80px;
    color: rgb(78, 71, 255);
}

.productive-users-description-1 {
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: 400px;
    margin-top: 5px;

}

/* review-system */

.review-section {
    margin-top: 150px;
    text-align: center;
    padding: 60px 20px;
    background: rgb(245, 248, 255);
    max-width: 1500px;
}

.review-section h3 {
    color: rgb(37, 36, 50);
    font-size: 42px;
    font-weight: 700;
    text-align: center;
}

.reviews-content {
    display: flex;
    justify-content: space-around;
}

.reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.review-card {

    box-sizing: border-box;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
    border-radius: 14px;
    background-color: white;
    padding: 20px;
    text-align: left;


}

.stars {
    color: #FFB805;

    align-items: center;
    text-align: left;

}

.review-title {
    font-weight: 600px;
    font-size: 24px;
    color: rgb(30, 30, 30);
    margin-bottom: 8px;
}

.review-text {
    font-weight: 400px;
    font-size: 16px;
    text-align: left;
    margin-bottom: 20px;
}

.review-footer {

    display: flex;
    justify-items: left;
    gap: 5px;


}

.review-footer img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: left;
    justify-content: left;

}

.reviewer-info {
    font-size: 14px;
    text-align: left;
}

.reviewer-name {
    font-weight: bold;
    color: #444;
    text-align: left;
}

.review-date {
    color: #aaa;
    font-size: 13px;
    text-align: left;
}

/* focus-style */
.focus-better {
    margin-top: 150px;
    padding: 100px;

}

.focus-section-content {
    max-width: 1140px;
    border-radius: 20px;
    padding: 71px 150px 71px 150px;
    height: 690px;
    background: rgb(255, 255, 255);
    align-items: center;
}

.focus-section {
    text-align: center;
}

.focus-section h1 {
    font-weight: 700px;
    font-size: 50px;
    color: rgb(0, 0, 0);
}

.focus-section p {
    font-weight: 400px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}



.focus-image {
    width: 800px;
    height: 350px;
    border-radius: 48px;
    text-align: center;
    margin: 80px 0px;
}